In [2]:
# Q1. WAP to convert the numbers of characters(character frequency) in a string.
#     Expected Result = {'o': 3, 'g': 2, '.': 1, 'e': 1, 'I': 1, 'm': 1, 'c': 1}
#     String - google.com

In [ ]:
# Q2. WAP to get a story from a given string where all occurences of its first character have been changed to '$', except
#     the first char itself.
#     Sample string - 'restart'
#     output - 'resta$t'

In [96]:
str1 = input("Input String : ")
def change_char(str1):
    char = str1[0]
    if(char.isupper()):
        str1 = str1.replace(char, '$')
        str1 = char + str1[1:]
        return str1
    elif(char.islower()):
        str1 = str1.replace(char, '$')
        str1 = char + str1[1:]
        return str1
print("output String :", change_char(str1))

Input String : restart
output String : resta$t

In [ ]:
# Q3. WAP to change a given string to a new string where the first and last characters have been exchanged.

In [ ]:
st1 = input("Enter a String : ").split(",")
st2 = ""
temp = ""
l = len(st1)
for i in range(l):
    temp = st1[0]
    st1[0] = st1[l - 1]
    st1[l - 1] = temp
print(st1)

In [ ]:
st = input("Enter a string : ")
print(st[-1:] + st[1:-1] + st[:1])

In [ ]:
# Q4. WAP that accepts a comma seperated sequence of words as inputs and prints the unique words in sorted form form 
#     (alphanumerically).
#     sample input - red, white, black, red, green, black
#     output - black, green, red, white, red

In [ ]:
# Q5. WAP to capatilize first and last letter of each word of a given string.
#     smaple input - 'the quick brown fox jumps over the lazy dog'
#     output - ThE QuicK BrowN FoX JumpS OveR ThE LazY DoG

In [ ]:
# lists
# join operation

In [ ]:
l = ['a', 'b', 'c']
a = ''.join(l)
print(a)

In [ ]:
# To update a list we can use
# 1. slicing 
# 2. append() - add another list as a new element in list.
# 3. insert(index, val or obj) - In insert if the index is 0 then the element is insert as first element and if the element 
#    specified as len of list then it is inserted at last element of list.
# 4. index()
# 5. list1.pop(index) - used for remove an element from a specified index position. If no index is specified then last element 
#    is removed.
# 6. remove() - it removes the elements from the list.
# 7. reverse() 
# 8. sort() - It sort the original list.
# 9. sorted(list1) - prints sorted copy of list but doesn't change the original list.
#    For sorting in reverse order - list1.sort(reverse = True)
#    For sorting in reverse order - sorted(list1, reverse = True)
# 10. extend() - It can add the complete list at the end.
#

In [ ]:
# Q. You have a list. Sort the list in ascending and descending order.

In [6]:
l = [1,4,3,2,6,4,8,7,6,9,6,10]
l.sort()
print(l)
l1 = sorted(l,reverse = True)
print(l1)

[1, 2, 3, 4, 4, 6, 6, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 6, 6, 4, 4, 3, 2, 1]

In [ ]:
# Q. WAP to create list of numbers divisible by 4 or 13. All the elements of the list should lie in the range 200 to 500.

In [ ]:
l = []
for i in range(200, 500):
    if(i % 4 == 0 or i % 13 == 0):
        l.append(i)
print(l)

In [ ]:
# Q. WAP to create a list of numbers from 1 to 10. delete all the even positions and print the final list.

In [ ]:
l = [1,2,3,4,5,6,7,8,9,10]
for i in range(2, 10):
    if(i % 2 != 0):
        l.remove(i)
print(l)

In [ ]:
# Q. WAP to print index at which a particular value exist. If the value exist at multiple position at list print all the index.
#    also count the number of times the value is repeated.

In [20]:
l = [1,2,3,4,4,5,6,5,4,3,2,3,4,2,2,3,4,8,7,9,7,9]
n = int(input("Enter a number : "))
count = 0
for i in range(len(l)):
    if l[i] == n:
        print(i)
        count+=1
print("Count : ", count)

Enter a number : 5
5
7
Count :  2

In [ ]:
list1 = [i**2 for i in range(21)]
print(list1)

In [19]:
import math
print(abs(4.3))
print(math.log(10))
print(math.exp(343))

4.3
2.302585092994046
9.183480175552067e+148

In [16]:
import random as r

print(r.random())

0.8347674690257528

In [21]:
quo, rem = divmod(100, 3)
print("Quotient = ", quo)
print("Remainder = ", rem)

Quotient =  33
Remainder =  1

In [ ]:
#Q. create a list of random numbers and divide them in odd and even.

In [36]:
import random as r

list1 = [r.randint(1,100) for i in range(10)]
l1=[]
l2=[]
for j in list1:
    if j%2==0:
        l1.append(j)
    else:
        l2.append(j)
print(l1)
print(l2)

[2, 82, 80, 34, 54, 78, 2]
[73, 45, 51]

In [32]:
#Q. using list comprehensions create a list of numbers x+x**y/2m +3 where x,m are entered numbers.

In [38]:
lst = []
x,m = map(int, input().split())

for i in range(5):
    y = r.randint(1,20)
    lst.append((x+x**y)/2*m+3)
print(lst)

5 4
[6263.0, 2441406263.0, 61035156263.0, 12207031263.0, 38146972656263.0]

In [ ]:
#Q. Take a input list from user until the user enter 0. scale each element by a factor of 10 and display the original list 
#   and sorted, modified, sort modified.

In [ ]:
lst = []
l1 = []
aA
num = int(input())
while num != 0:
    num = int(input())
    lst.append(num)
    
for i in lst:
    j = i*10
    l1.append(j)
print(l1)
print(sorted(l1))

In [ ]:
#Q. wap to split the list every nth element.

In [ ]:
n = int(input())
lst = []
for i in range(10):
    b = r.randint(1,100)
    lst.append(b)
for i in range(len(lst)):
    if i == n:
        
print(lst)

In [ ]:
#Q. wap to convert a list of multiple integer into a single integer.

In [ ]:
lst = input().split(",")
a = ""
for i in lst:
    a = a+i
print(a)

In [ ]:
#Q. wap to create a list by concatinating a given list with range which goes from 1 to n.

In [42]:
pip install sympy

Requirement already satisfied: sympy in c:\users\robin\anaconda3\envs\tensorflow\lib\site-packages (1.4)
Requirement already satisfied: mpmath>=0.19 in c:\users\robin\anaconda3\envs\tensorflow\lib\site-packages (from sympy) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Q. select a number randomly from the list. if the number is prime number add a functionality to automatically close the editor.

In [44]:
import sympy as np
lst = []
for i in range(10):
    j = int(input())
    lst.append(j)
for i in lst:
    if np.isprime(i):
        print(i, "fev")

45
66
32
7
88
55
43
69
85
1
7 fev
43 fev

In [ ]:
#Q. WAP to print n copies of the first n characters of a string. return the n copies of the both strings in the entire string
#   is from

In [ ]:
st = input("Enter a string :")
n = int(input("Enter n: "))
m = int(input("Enter m: "))
l = len(st)
if(l < m):
    n = n-l
    print(st, end="_"*7)
else:
    print(st[:m] * 7)

In [ ]:
#Q. Math teacher give a task to create histogram from the given list of integers.
#   Take a input of the character using which histogram is produced.

In [ ]:
lst = [1, 4, 5, 3]
ch = input("Enter a character: ")
for i in lst:
    print(i * ch)

In [ ]:
#Q. WAP to find unique triplets whose sum of elements is 0 from an array of n elements.

In [ ]:
arr = []
lst = []
l = int(input("Enter Length of array: "))
for i in range(l):
    n = int(input())
    arr.append(n)

for i in range(l):
    for j in range(l):
        for k in range(l):
            if (arr[i] + arr[j] + arr[k]) == 0:
                lst.append(arr[i])
                lst.append(arr[j])
                lst.append(arr[k])
lst = list(set(lst))
print(lst)

In [ ]:
#Q. WAP that accepts a sequence of comma seperated 4 digit binary no. as its input and check wheather they are divisible by 5.
#   Numbers that are divisible by 5 are to printed as comma seperated.

In [ ]:
num = input("Enter values: ").split(",")

for i in num:
    if int(i,2)%5 == 0:
        print(i)

In [ ]:
#Q. Using nested list of tuples to store topper details. Edit the detail and reprint the details taking the default value of 
#   topper = [('Arnav', ' Bsc', 92), ('ABC', 'Btech', 92.7), ('Aryan', 'BCA', 91), ('CDE', 'Bsc=HM', 82.7)]
#   The output should be in the required format. 
#   Enter the name of the student whose details are to be edited. Enter the correct name ,correct course, correct percentage.
#   Display the final list.

In [97]:
lst = [('Arnav', ' Bsc', 92), ('ABC', 'Btech', 92.7), ('Aryan', 'BCA', 91), ('CDE', 'Bsc=HM', 82.7)]

for i in lst:
    print(i)
    
n  = input("y/n if you want to change your details : ")
if n == 'y':
    name = input("Enter the name whose details are to be edited : ")
    name2 = input("Enter correct name : ")
    course = input("Enter correct course : ")
    marks = int(input("Enter correct percentage : "))
List1 = [list(x) for x in lst]
print(List1)
for i in range(len(List1)):
    if List1[i][0] == name:
        List1[i][0] = name2
        List1[i][1] = course
        List1[i][2] = marks
print(List1)

('Arnav', ' Bsc', 92)
('ABC', 'Btech', 92.7)
('Aryan', 'BCA', 91)
('CDE', 'Bsc=HM', 82.7)
y/n if you want to change your details : y
Enter the name whose details are to be edited : Arnav
Enter correct name : Dhoni
Enter correct course : B.E
Enter correct percentage : 100
[['Arnav', ' Bsc', 92], ['ABC', 'Btech', 92.7], ['Aryan', 'BCA', 91], ['CDE', 'Bsc=HM', 82.7]]
[['Dhoni', 'B.E ', 100], ['ABC', 'Btech', 92.7], ['Aryan', 'BCA', 91], ['CDE', 'Bsc=HM', 82.7]]

In [ ]:
#Q. You are required to write a program to sort the name, age, height tuples by ascending order where the name is the string 
#   height and age are numbers. The sorting criteria is 1. sort by name. 2. Sort by age. 3. Sort by height.

In [ ]:
lst = [('Arnav', 18 , 192), ('Elon', 19, 183), ('Aryan', 22, 191), ('CDE', 17, 186)]
List1 = [list(x) for x in lst]
num = input("Enter name/age/height for sort: ")

if num == 'name':
    for i in List1:
        List1.sort()

elif num == 'age':
    for i in range(len(List1)):
        for j in range(i+1, len(List1)):
            if List1[i][1] > List1[j][1]:
                temp = List1[i]
                List1[i] = List1[j]
                List1[j] = temp
        
elif num == 'height':
    for i in range(len(List1)):
        for j in range(i+1, len(List1)):
            if List1[i][2] > List1[j][2]:
                temp = List1[i]
                List1[i] = List1[j]
                List1[j] = temp
print(List1)

In [ ]:
#Q. Taking input of a default paragraph print frequency of each word.

In [ ]:
n = input("Enter a paragraph : ").split(" ")
count = 0

for i, count in enumerate(n):
    for j in (i+1,n):
        if i == j:
            count+=1
            print(i, "Count = ", count)

In [ ]:
#Q. WAP to print a tuple with string formatting.

In [ ]:
n = int(input("Enter length : "))
lst = []
for i in range(n):
    i = int(input("Enter a number : "))
    lst.append(i)
st = input("Enter a string : ")
tup = tuple(lst)
print(st + str(tup))

In [ ]:
#Q. In a company there are four coders and five analyst working together in a team. printout the details.
#   1. coders      2. people working as coders as well as analyst   3. people working as coders and analyst
#   4. coders but not analyst      5.analyst but not coders        6. working only in one profile

In [105]:
emp = dict()
coder = set()
analyst = set()
n = int(input())
for i, j in enumerate(range(n)):
    i = input("Enter name : ")
    j = input("Enter job title : ")
    emp[j] = i

for i in emp:
    if(i == 'coder'):
        coder.add(emp.get(i))
    elif(i == 'analyst'):
        analyst.add(emp.get(i))
print(coder)

1
Enter name : elon
Enter job title : coder
{'elon'}

In [18]:
coder = set()
analyst = set()

n1 = int(input("Enter total number of coder : "))
for i in range(n1):
    i = input("Enter name : ")
    coder.add(i)
    
n2 = int(input("Enter total number of analyst : "))
for i in range(n2):
    i = input("Enter name : ")
    analyst.add(i)

print("coders : ", coder)
print("Both coder and analyst : ", coder & analyst)
print("Coders but not analyst : ", (coder | analyst) - analyst)
print("analyst but not coder : ", (coder | analyst) - coder)
print("emp working only in one profile : ", (coder | analyst) - (coder & analyst))

Enter total number of emp : 5
Enter name : A
Enter name : B
Enter name : C
Enter name : D
Enter name : E
Enter total number of emp : 4
Enter name : X
Enter name : A
Enter name : C
Enter name : Z
coders :  {'A', 'E', 'D', 'B', 'C'}
Both coder and analyst :  {'C', 'A'}
Coders but not analyst :  {'E', 'B', 'D'}
analyst but not coder :  {'X', 'Z'}
emp working only in one profile :  {'Z', 'E', 'X', 'D', 'B'}

In [1]:
# Dictionaries
# del dict_name
# dict_name.clear()
# dict_name.pop()
# dict_name.popitem()
# dict.value returns the list of values 
# dict.item returns a list of tuple key value
# sorted(dict.keys())
# length(dict)
# str(dict) - returns a string representation of dictionary
# dict.clear()
# dict.copy() - It will return a shallow copy of dictionary
# dict.fromkeys(sequence[,val]) - returns a dictionary from the sequence using values from sequnece as a key for the dictionary
# and value to be val
# dict.get()
# dict.has_key(key)
# dict.set_default()
# dict1.update(dict2)

In [2]:
# Q. WAP that has dictionary of states and their codes. Add a state which was not the part of the dictionary earlier. print all
#    the items in the dictionary. If the user try to access a state which is not a part of the dictionary then display sorry
#    no idea.

In [16]:
dict1 = {'DL':'Delhi', 'HR':'Haryana', 'PB':'Punjab', 'RJ':'Rajasthan', 'UP':'Utter Pradesh', 'MH':'Maharashtra', 'TN':'Tamilnadu'}
key1 = input("Enter state code : ")
val1 = input("Enter state name : ")
dict1[key1] = val1
print(dict1)

code = input("Enter State code which you want to access : ")
if code in dict1:
    print(dict1[code])
else:
    print("Sorry, No idea")

Enter state code : GJ
Enter state name : Gujrat
{'DL': 'Delhi', 'HR': 'Haryana', 'PB': 'Punjab', 'RJ': 'Rajasthan', 'UP': 'Utter Pradesh', 'MH': 'Maharashtra', 'TN': 'Tamilnadu', 'GJ': 'Gujrat'}
Enter State code which you want to access : HR
Haryana

In [3]:
#Q. WAP that creates the dictionary of radius and circumference until user enters -1.

In [3]:
dict1 = {}
r = int(input("Enter radius : "))
c = 2*3.14*r
dict1[r] = c
while(r != -1):
    r = int(input("Enter radius : "))
    c = 2*3.14*r
    dict1[r] = c
print(dict1)

Enter radius : 5
Enter radius : 4
Enter radius : 3
Enter radius : 8
Enter radius : -1
{5: 31.400000000000002, 4: 25.12, 3: 18.84, 8: 50.24, -1: -6.28}

In [4]:
#Q. WAP that creates two dictionaries one that stores conversion values from meter to cm and the other that stores from cm to 
#   meter in the given range of 23 to 33 using dictionary comprehensions.

In [22]:
dict1 = {x:x * 100 for x in range(23,34)}
dict2 = {x:x / 100 for x in range(23,34)}
print("meter to cm : ", dict1)
print("cm to meter : ", dict2)

meter to cm :  {23: 2300, 24: 2400, 25: 2500, 26: 2600, 27: 2700, 28: 2800, 29: 2900, 30: 3000, 31: 3100, 32: 3200, 33: 3300}
cm to meter :  {23: 0.23, 24: 0.24, 25: 0.25, 26: 0.26, 27: 0.27, 28: 0.28, 29: 0.29, 30: 0.3, 31: 0.31, 32: 0.32, 33: 0.33}

In [ ]:
#Q. WAP to check wheather two lists are circularly identical.

In [18]:
l1,l2 = input("Enter list 1 : ").split(), input("Enter list 2 : ").split()
print((' '.join(map(str, l2)) in ' '.join(map(str, l1 * 2))))

Enter list 1 : 1 2 3 4 5
Enter list 2 : 2 3 4 5 1
True

In [2]:
#Q. WAP to clone or copy a list.

In [20]:
l = [1,2,3,'a','b']
l1 = l
print(l1)

[1, 2, 3, 'a', 'b']

In [7]:
#Q. WAP to sum all the elements in a list

In [8]:
l = [1,2,3,4,5]
sum = 0
for i in l:
    sum += i
print(sum)

15

In [19]:
dict1 = {'item':'item1', 'amount':400}
dict2 = {'item':'item2', 'amount':300}
dict3 = {'item':'item3', 'amount':750}
mx,mi,rem = 0,0,0
if dict1['amount'] > dict2['amount'] and dict1['amount'] > dict3['amount']:
    mx = dict1['amount']
    if dict2['amount'] > dict3['amount']:
        mi = dict3['amount']
        rem = dict2['amount']
    else:
        mi = dict2['amount']
        rem = dict3['amount']
if dict2['amount'] > dict1['amount'] and dict2['amount'] > dict3['amount']:
    mx = dict2['amount']
    if dict3['amount'] > dict1['amount']:
        mi = dict1['amount']
        rem = dict3['amount']
    else:
        mi = dict3['amount']
        rem = dict1['amount']
if dict3['amount'] > dict2['amount'] and dict3['amount'] > dict1['amount']:
    mx = dict3['amount']  
    if dict2['amount'] > dict1['amount']:
        mi = dict1['amount']
        rem = dict2['amount']
    else:
        mi = dict2['amount']
        rem = dict1['amount']

dict4 = {'item1':mx+dict1['amount'], 'item2':mi}
print(dict4)

{'item1': 1150, 'item2': 300}

In [7]:
dict1, dict2, dict3 = {'item':'item1', 'amount':400}, {'item':'item2', 'amount':300}, {'item':'item3', 'amount':750}
mx = max(dict1['amount'], dict2['amount'], dict3['amount'])
mi = min(dict1['amount'], dict2['amount'], dict3['amount'])
dict4 = {'item1':dict1['amount'] + mx, 'item2':mi}
print(dict4)

{'item1': 1150, 'item2': 300}

In [1]:
#Q. English teacher has given a task to form all the possible 2 digit letter combinations. From a digit string from 1 to 9.

In [106]:
map1 = {1:'abc', 2:'def', 3:'ghi', 4:'jkl', 5:'mno', 6:'pqrs', 7:'tuv', 8:'wxy', 9:'z'}
num = int(input("Input : "))
l = []
a = int(num/10)
b = num%10
l.append(a)
l.append(b)
list1 = []
for i in map1[a]:
    for j in map1[b]:
        list1.append(i+j)

print("Output :", list1)

Input : 47
Output : ['jt', 'ju', 'jv', 'kt', 'ku', 'kv', 'lt', 'lu', 'lv']

In [113]:
map1 = {1:'abc', 2:'def', 3:'ghi', 4:'jkl', 5:'mno', 6:'pqrs', 7:'tuv', 8:'wxy', 9:'z'}
num = int(input("Input : "))
l = []
a = int(num/10)
b = num%10
l.append(a)
l.append(b)
list1 = []
lst = " "
for i in map1:
    if i in l:
        lst += map1[i]
for i in range(len(lst)//2):
    for j in range(len(lst)//2,len(lst)):
        if lst[i] != " " and lst[j] != " ":
            list1.append(lst[i] + lst[j])
print("Output :", set(list1))

Input : 47
Output : {'ju', 'kv', 'kt', 'jv', 'jt', 'kl', 'ku', 'jl'}

In [2]:
#Q. Given a dynamic list of  words entered by the user of variable length generate a nested dictionary such that

In [66]:
list1 = ['argumnet', 'sarcasm', 'monopoly', 'optimum']
def fun(list1):
    dict1 = {}
    if list1:
        a = list1[0]
        list1.remove(a)
        dict1[a] = fun(list1)
    return dict1
print(fun(list1))

{'argumnet': {'sarcasm': {'monopoly': {'optimum': {}}}}}

In [1]:
# function

In [2]:
#Q. WAP which takes the input as first, middle and last name and concatinate them.

In [6]:
f_name = input("Enter first name : ")
m_name = input("Enter middle name : ")
l_name = input("Enter last name : ")

def name(f_name, m_name, l_name):
    name = f_name + m_name + l_name
    return name
print(name(f_name, m_name, l_name))

Enter first name : Robin
Enter middle name : Singh
Enter last name : Dhull
Robin Singh Dhull

In [4]:
#Q Take the input of time in hours and minutes and return the total minutes.

In [11]:
time = input("Enter time : ").split(" ")

def time(hour, minute):
    time = hour * 60 + minute
    return time
print(time(hour, minute))

Enter time : 12 30
750

In [ ]:
# keyworded arguments : python uses keywords provided in the function call to match the values to the arguments.
# In no such case argument should not recieve more than 2 arguments while using keyworded arguments.
# Default argument should be written last in the argument list.
# variable length arguments are used in the situation where it is not known in advance how many arguments passed through 
# fuction. In such conditions we use arbitrary arguments. 
# The arbitrary number of arguments passed through a function are basically forming a function
# Inside the fucntion for loop is used to access the function. The variable length arguments if presents in the function,
# should be the last in the list of argumnets.
# Any formal arguments written after the variable argument must be the keyword only argument.

In [28]:
def student(name, *subjects):
    print(name)
    for sub in subjects:
        print(sub)
student('Richa', 'Python', 'c++')
student('Arya', 'Java')
student('AB')

Richa
Python
c++
Arya
Java
AB

In [29]:
#Q. Compute p(nr).

In [ ]:
n = int(input("Enter n : "))
r = int(input("Enter r : "))

def per(n, r):
    t1, t2 = 1, 1
    for i in range(1, n+1):
        t1 = t1 * i
    for i in range(1, (n-r)+1):
        t2 = t2 * i
    p = t1//t2
    return p
print(per(n, r))

In [ ]:
#Q. WAP to sum the series using function. 
#   1/1! + 4/4! + 27/3! + ...

In [64]:
n = int(input("Enter n : "))

def series(n):
    sum1,a = 0,1
    for i in range(1, n+1):
        a = i**i
        fact = 1
        for j in range(1,i+1):
            fact = fact * j
        sum1 = sum1 + a/fact
    return sum1

print(series(n))

Enter n : 3
7.5

In [78]:
#Q. WAP that uses doc string to define a funcion and variable length arguments to define a function.

In [ ]:
#Q. WAP that takes the input of user name and reads a person.
#   input - saransh
#   output - Welcome saransh

In [1]:
#Q. WAP to print the pattern using default arguments.

In [54]:
def fun():
    list1 = map(int, input("Enter list : ").split())
    sum = 0
    for i in list1:
        sum = sum + i
    return sum
print(fun())

Enter list : 1 2 3 4 5
15

In [7]:
s = input("Enter a string : ")
string2 = 'abcdefghijklmnopqrstuvwxyz'
string3 = string2.upper()
flag = 0
if all(x in s for x in string2 or x in string3):
    flag = 1
if flag == 0:
    print("Not panagram")
else:
    print("panagram")

Enter a string : QWERTRYTRYTUYIUOPLKKJHGGFDSAXZCXVBVNVMMNSA
panagram

In [120]:
n = int(input("Enter n : "))
lst1,lst2 = [1],[0]
for i in range(n):
    print(str(lst1))
    lst1 = [i+j for i,j in zip(lst1+lst2, lst2+lst1)]

Enter n : 4
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]

In [66]:
def change_char(str1):
    for i in range(len(str1)):
        char = str1[i]
        if char in str1[i+1:]:
            str1 = str1.replace(char, '$', 2).replace('$', char, 1)
    return str1
print(change_char('restart'))

resta$$

In [65]:
str1, str2 = input(), input()
print(str2[:2] + str1[2:] + " " + str1[:2] + str2[2:])

ggd
fds
fdd ggs

In [69]:
str1 = 'thequickbrownfoxjumpsoverthelazydog'
str1 = sorted(str1)
dict1 = {}
for i in str1:
    dict1[i] = dict1.get(i, 0) + 1
    if dict1.get(i) > 1:
        print(i, dict1.get(i))

e 2
e 3
h 2
o 2
o 3
o 4
r 2
t 2
u 2

In [93]:
chars = "abcdefghijklmnopqrstuvwxyz"
str1 = 'thequickbrownfoxjumpsoverthelazydog'

for char in chars:
    count = str1.count(char)
    if count > 1:
        print(char, count)

e 3
h 2
o 4
r 2
t 2
u 2

In [1]:
fun = lambda a,b : a * b
print(fun(5, 6))

30

In [2]:
from functools import reduce
lst = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda n : (n % 2) == 0, lst))
double = list(map(lambda n : n*2, even))
print(double)
print(reduce(lambda a,b : a+b, double))

[4, 8, 12, 16, 20]
60

In [3]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [4,2,6,8,9,1,6,4,2,1,0]
print("Sum :", list(map(lambda a,b : a + b, lst1,lst2)))

Sum : [5, 4, 9, 12, 14, 7, 13, 12, 11, 11]

In [4]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [4,2,6,8,9,1,6,4,2,1,0]
print("Product :", list(map(lambda a,b : a * b, lst1,lst2)))

Product : [4, 4, 18, 32, 45, 6, 42, 32, 18, 10]

In [5]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst2 = [4,2,6,8,9,1,6,4,2,1,0]
print(list(map(lambda a,b : a == b, lst1,lst2)))

[False, True, False, False, False, False, False, False, False, False]

In [7]:
# module
# from module_name import fun_name()
# from module_name import *

In [ ]:
#Q. Using datatime display the current date and time and the function is Today.

In [73]:
from datetime import date
from datetime import datetime
print(date.today())
print(date.today().year)
print(date.today().month)
print(date.today().day)
d = (date.today().weekday())
print(d)
day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
print(day[d])

2019-09-11
2019
9
11
2
Wednesday

In [2]:
from datetime import datetime

print(datetime.today())
print(datetime.now())
print(datetime.time(datetime.now()))

2019-09-17 23:37:01.296340
2019-09-17 23:37:01.297343
23:37:01.297343

In [57]:
#Q. WAP to define fucntion which return datetime, weekday and day.

In [73]:
from datetime import datetime
from datetime import date

def fun_date():
    print("Date:", date.today())
    print("Year:", date.today().year)
    print("Month:", date.today().month)
    d = (date.today().weekday())
    day = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    print("Day:", day[d])
fun_date()

Date: 2019-09-04
Year: 2019
Month: 9
Day: Wednesday

In [74]:
# format specifier are defined in strftime() 
# %a - weekday name in abbrivative manner
# %A - weekday name in full manner 
# %w - weekday number
# %d - day of the month with zero time
# %b / %B - month name in abbrivative manner / Full manner
# %H - 24 hour clock
# %I - 12 hour clock
# %Z - Time zone

In [75]:
# Get today date using strftime().

In [75]:
from datetime import date
t = date.today()
print(t.strftime("%a"))

Wed

In [90]:
# display current time.

In [108]:
from datetime import datetime
t = datetime.now()
t1 = t.strftime("%H")
t2 = t.strftime("%M")
t3 = t.strftime("%S")
print(t1, ":", t2, ":", t3)

10 : 07 : 01

In [116]:
from datetime import date
t = date.today()
t1 = t.strftime("%d")
t2 = t.strftime("%b")
t3 = t.strftime("%Y")
print(t1+"th", t2, t3)

04th Sep 2019

In [119]:
from datetime import date
t = date.today()
t1 = t.strftime("%D")
print(t1)

09/04/19

In [120]:
# Take the input of two dates from the user. Find the difference in number of days, weeks and months.

In [132]:
from datetime import *
date1 = input("Enter date 1 :").split("/")
date2 = input("Enter date 2 :").split("/")
l1 = [1,3,5,7,8,10,12]
l2 = [4,6,8,10]
y = (int(date2[2]) - int(date1[2])) 
m = (int(date2[1]) - int(date1[1]))
if date2[1] in l1:
    if date1[1] in l1:
        d = (int(date2[0]) - int(date1[0]))
    else:
        d = (int(date2[0]) - int(date1[0]))

print(y, "year", m, "months", d, "days")

Enter date 1 :22/1/2019
Enter date 2 :25/1/2019
0 year 0 months 9 days

In [90]:
print("{} is better than {}".format('a','b'))

a is better than b

In [10]:
def fun(*a, a1):
    print(a1)
    for i in a:
        print(i)
fun('Hello','Welcome','to', a1 = 'Python')

Python
Hello
Welcome
to

In [3]:
st = "Hello World"
k = [(i.upper(), len(i)) for i in st]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

In [4]:
tuple = {}
tuple[(1,2,4)] = -7
tuple[(4,2,1)] = 17
tuple[(1,2)] = 13
_sum = 0
for k in tuple:
    _sum += tuple[k]
print(len(tuple) + _sum)

26

In [6]:
Doc = dict()
for x in enumerate(range(2)):
    Doc[x[0]] = x[1]
    Doc[x[1] + 5] = x[0]
print(Doc)

{0: 0, 5: 0, 1: 1, 6: 1}

In [8]:
i = 1
while True:
    if i%7 == 0:
        break
    print(i, end = '')
    i += 1
for i in ''.join(reversed(list('abcd'))) : print(i)

123456d
c
b
a

In [11]:
tup = ['1',2,3,4,'2,3']
tic = {}
toc = tic
for z in tup:
    tic[z] = tic
    tic = tic[z]
print(toc)

{'1': {...}, 2: {...}, 3: {...}, 4: {...}, '2,3': {...}}

In [22]:
s = 'a@b@c@d'
a = list(s.partition('@'))
print(a)
b = list(s.split('@',3))
print(b)

['a', '@', 'b@c@d']
['a', 'b', 'c', 'd']

In [2]:
l = [1,2,3,4,5]
l1 = [x&1 for x in l]
print(l1)

[1, 0, 1, 0, 1]

In [1]:
# Regular Expression
# works on row string
# import re

In [2]:
# re.match(pattern = "", string, flag = 0)
# re.match(pattern = "", string, flag = re.I)   - for 
# re.search() 
# re.sub(pattern, repl, string, max)
# re.findall(pattern, string, flag)     - checks for er occurance of a pattern
# re.finder(pattern, string, flag)      - returns a iterator

In [3]:
# Meta characters in regular expression - 
# 1. ^ - It matches the begining of the line.    eg. -> "^A"
# 2. $ - It matches the end of the line.         eg. -> "H$"
# 3. . - It matches any single character except newline character.       eg. -> "he..o"
# 4. [] - It searches a set of characters.       eg. -> "[Hh]"
# 5. * - It matches the number of occurances including 0 occurance or null string.   eg. -> "Abc*"
# 6. {} - Indicate number of occurrences of a preceding RE to match.
# 7. \ - Used to drop the special meaning of character following it.

In [43]:
import re 
st = "Welcome, Hello World"
print(re.findall(r"^\w+",st))

['Welcome']

In [21]:
import re
st = "guru99,education is fun"
print(re.findall(r"^\w+",st))

['guru99']

In [55]:
import re 
st = "Welcome, Hello World"
print(re.split(r"\s",st))

['Welcome,', 'Hello', 'World']

In [1]:
# search, match and finditer have start, end and method

In [2]:
#Q. given a string 'info@chitkara.edu.in'. Extract email id using regex.

In [8]:
import re
string = 'My email id is info@chitkara.edu.in'
pattern = 'info@chitkara.edu.in'

st = re.findall(pattern, string)
if(st):
    print(st)

['info@chitkara.edu.in']

In [3]:
#Q. using regex wap to match strings start with a sequence of digits(at least one digit followed by a blank and then 
#    arbitrary characters).

In [20]:
import re
string = 'hello, this is python 3.7 and this is the latest version'
pattern = '\d+\s+\w+'
st = re.findall(pattern, string)
if(st):
    print(st)
else:
    print('match not found')

['7 and']

In [4]:
#Q. wap to extract each word from the string using regex.

In [28]:
import re
string = 'SpaceX, Tesla, Microsoft, google, Apple'
pattern = '\w+'
st = re.findall(pattern, string)
for i in st:
    print(i)

SpaceX
Tesla
Microsoft
google
Apple

In [5]:
#Q. given a mutiline string extract first word of each line.

In [48]:
string = 'Data Science is one of the best carrer \nRegular expression'
pattern = '\n\w+'
st = re.findall(pattern, string)
print(st)

['\nRegular']

In [6]:
#Q. given a string 'hello, my name is Robin and my date of joining is 11/09/2018 and have an experience of 1+ year'.
# 1. extract date from given string.
# 2. extract year from given strng.
# 3. extarct name from given string.
# 4. print only those words that starts with vowel.

In [ ]:
import re
string = 'hello, my name is Robin and my date of joining is 11/09/2018 and have an experience of 1+ year'
pattern = ''
st = re.findall(pattern, string)
print(st)

In [1]:
#Q. You are given some input and you are required to check whether they are valid mobile no's or not. A valid mobile no.
#   is 10 digit mobile no. starting with7, 8 or 9. The first line contains integer n that specifies no. of inputs. n line
#   follow each containing some string. n should be between 1>= and =<10 and lenght of n will be from 2 to 15.

In [36]:
import re
n = int(input())
for i in range(n):
    number = input()
    pattern = r'[7,8,9][0-9]{9}'
    st = re.search(pattern, number)
    if st:
        print(number)
    else:
        print('Not a valid mobile number')

1
9876545342
9876545342

In [4]:
#Q. Given a task of validating email id, a valid email id means the following criteria. It is composed of user_name, domain name
#   and extension assembled in the form username@domainname.extension. The username starts with english alphabatical character 
#   and any subsequent character contain one or more of the following(alphanumeric,-, ., _).
#   the domain and extension contain only english alphabatical charcter.
#   the extension is 1, 2 or 3 characters in length given n pair of mails and email addresses as input. print each name and 
#   email address having the valid pair. input format - first line contains n line of email address and subsequent line conatins
#   name and email address seperated by a space.

In [1]:
import re
n = int(input())
for i in range(n):
    username, emailID = input().split()
    pattern1 = '^[a-zA-Z]\w+'
    emailID = emailID + '\n'
    st1 = re.findall(pattern1, username)
    pattern2 = '[a-z,A-Z][a-z,A-Z,0-9,-,_]*[@][a-z]*[.][a-z]{1,3}\n'
    st2 = re.findall(pattern2, emailID)
    if st1 and st2:
        print('name =', username, ' emailID =', emailID)

1
Robin robin707singh@gmail.com
name = Robin  emailID = robin707singh@gmail.com

In [1]:
# Exception Handling

In [25]:
try:
    file = open('main.ipynb')
    age = int(input("Enter age : "))
    xfactor = 10 / age
    
except ValueError as ex1:
    print("You didn't enter a valid age.")
    print(ex)
    print(type(ex))
    
except ZeroDivisionError as ex2:
    print("Age can not be zero.")
    print(ex2)
    print(type(ex2))
    
else:
    print("No exception were thrown.")
    
finally:
    file.close()
    
print("Execution continues.")

Enter age : 25
No exception were thrown.
Execution continues.

In [34]:
def calculate_xfactor(age):
    if age <= 0:
        raise ValueError("Age can not be 0 or less.")
    return age / 10

try:
    calculate_xfactor(int(input("age : ")))
except ValueError as error:
    print(error)

age : 0
Age can not be 0 or less.

In [1]:
# Classes and Objects

In [38]:
class A:
    def __init__(self, name):
        self.name = name
        print("My name is {}".format(name))
    def __str__(self, name):
        print(name)

name = A("Robin")
'Robin'.__str__()

My name is Robin

'Robin'

In [45]:
class Person:
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '707' + last + '@gmail.com'
    
    def full_name(self):
        return self.first + " " + self.last

test = Person('robin', 'singh', 1000000000)
print(test.full_name())
print(test.email)

robin singh
robin707singh@gmail.com